#_debug{
	position:absolute;
	right:5px;
	top:5px;
	border:#ddb solid 1px;
	background:#ffd;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
	z-index:999999;
}
#_debug h1{
	float:right;
	width:21px;
	height:18px;
	text-align:center;
	padding-top:3px;
	cursor:pointer;
}
#_debug.show h1{border-left:#bdb solid 1px;border-bottom:#bdb solid 1px}
#_debug:not(.show) h2,#_debug:not(.show) h3{display:none}
#_debug:not(.show):not(:hover){opacity:0.2}
#_debug h2{width:614px}
#_debug .dmenu a{
	display:inline-block;
	padding:4px 10px;
	border-right:#bdb solid 1px;
	border-bottom:#bdb solid 1px;
}
#_debug .dmenu a:hover{background:#afa;text-decoration:none}
#_debug .dmenu a.sel{background:#aea}
#_debug .exp{width:558px;margin-top:-1px}
#_debug .exp *{font-size:10px}
#_debug .exp table{width:100%;border-collapse:collapse;background:#f8f8f8}
#_debug .exp td,#_debug .exp th{border:#ccc solid 1px;padding:2px 4px}
#_debug .exp th{font-weight:bold}
#_debug .cookie{margin:10px}
#_debug .get{margin:10px}
#_debug .get textarea{width:586px;height:100px;margin-top:10px}
#_debug #repeat{margin-left:20px}

#debug-footer{
	margin-left:-15px;
	padding:2px 0 3px 15px;
	text-align:center;
	background:#F7F7F7;
	border-top:#DDD solid 1px;
	z-index:1000;
}
#debug-footer a{color:#888;font-size:11px}
#debug-footer a._busy{color:transparent}
#debug-footer .on{color:#0b0}
body.site #debug-footer{position:fixed;bottom:0;width:100%}