*{	padding:0;
	margin:0;
	font:normal 13px arial;
/*	font-family:-apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;*/
/*	box-sizing:border-box;  */
}
body{background:#fff}
body.site{background:#f8fafc}
body.site.scrl{margin-left:15px}
a{	color:#2B587A;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
a:hover{text-decoration:underline}
b{font-weight:bold}
i{font-style:italic}

input,textarea{
	box-sizing:border-box;
	border:1px solid #d3d9de;
	padding:6px 8px;
	border-radius:2px;
	outline:none;
	width:150px;
}
input::-webkit-input-placeholder{color:#bbb}
input::-moz-placeholder{color:#999}
input.err{background-color:#fff2f2}

textarea{
	resize:none;
	height:46px;
	vertical-align:top;/* исключение непонятного отступа снизу */
}
textarea::-webkit-input-placeholder{color:#bbb}
textarea::-moz-placeholder{color:#999}
textarea.min{height:29px}
textarea.err{background-color:#fff2f2}
input[type="text"]:disabled,
textarea:disabled{
	color:#ccc;
	background-color:#f5f5f5;
	border:1px solid #ddd;
	cursor:default;
}

img{border:none;vertical-align:top}
table{border:0;border-spacing:0}






/* Основное окно фрейма */
#frameBody{
	position:relative;
	margin:0 auto;
	background:#fff;
	max-width:795px;
	border-bottom:#DAE1E8 solid 1px;
	overflow:hidden;
}
#frameHidden{
	border:0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}



/* Фрейм для отслеживания полосы прокрутки */
#frame0{
	position:absolute;
	border:0;
	width:100%;
	height:0;
	z-index:-1;
}







/* Иконки */
.icon{
	display:inline-block;
	background:0 0 no-repeat url(../../img/icon18.png?25);
	width:18px;
	height:18px;
	cursor:pointer;
	margin-bottom:-3px;
}
.icon.pl:not(.spin):not(:hover){opacity:.5}/* pale: бледная иконка */
.icon.wh{background-position-y:-20px}/* white: белая иконка */
.icon-empty{background-position:-9999px -9999px;cursor:default}/* пустая иконка */
.icon-edit   {background-position-x:0}    /* редактирование */
.icon-del    {background-position-x:-20px}/* удаление */
.icon-del-red{background-position-x:-40px}/* удаление красная */
.icon-add    {background-position-x:-60px}/* плюсик-добавление */
.icon-ok     {background-position-x:-80px}/* галочка */
.icon-set    {background-position-x:-100px}/* настройки: маленькая шестерёнка */
.icon-set-b  {background-position-x:-120px}/* настройки: большая шестерёнка */
.icon-off    {background-position-x:-140px}/* мусорная корзина */
.icon-offf   {background-position-x:-160px}/* мусорный контейнер */
.icon-doc-add{background-position-x:-180px}/* новый документ */
.icon-order  {background-position-x:-200px}/* тележка из маркета */
.icon-client {background-position-x:-220px}/* бюст человечка */
.icon-worker {background-position-x:-240px}/* сотрудник - бюст человечка в галстуке*/
.icon-vk     {background-position-x:-260px}/* иконка VK */
.icon-rub    {background-position-x:-280px}/* значёк рубля в кружке */
.icon-usd    {background-position-x:-300px}/* значёк $ в кружке */
.icon-stat   {background-position-x:-320px}/* статистика: три столбика */
.icon-print  {background-position-x:-340px}/* принтер */
.icon-out    {background-position-x:-360px}/* внешняя ссылка: стрелка наружу */
.icon-chain  {background-position-x:-380px}/* связка: звенья цепи */
.icon-set-dot{background-position-x:-400px}/* настройки: три жирных точки */
.icon-move   {background-position-x:-420px;cursor:move}/* перемещение: стрелки четыре стороны */
.icon-move-x {background-position-x:-440px;cursor:move}/* перемещение: стрелки лево-право */
.icon-move-y {background-position-x:-460px;cursor:move}/* перемещение: стрелки верх-вниз icon-sort */
.icon-sub    {background-position-x:-480px}/* подкатегория: угловая стрелка вниз-вправо */
.icon-join   {background-position-x:-500px}/* объединение: стрелки друг на друга сверху-снизу */
.icon-info   {background-position-x:-520px}/* информация: "i" в кружке */
.icon-search {background-position-x:-540px}/* поиск: лупа */
.icon-hint   {background-position-x:-560px;cursor:default}/* подсказка: знак вопроса */
.icon-calendar{background-position-x:-580px}/* календарь */
.icon-recover{background-position-x:-600px}/* восстановить: завёрнутая стрелка */
.icon-eye    {background-position-x:-620px}/* формат отображения текста: глаз */
/* ожидание процесса загрузки для любой иконки */
.icon.spin{
	height:16px;
	margin-top:1px;
	background-position:-1000px -1px;
	cursor:default;
    animation: spin 700ms infinite linear;
    -webkit-animation: spin 700ms infinite linear;
    -moz-animation: spin 700ms infinite linear;
}
@-webkit-keyframes spin{to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes spin{to{-moz-transform: rotate(360deg)}}
@keyframes spin{to{transform: rotate(360deg)}}
.icon.spin *{display:none}



















/* иконки редактирования текста */
.icon-wiki{
	display:inline-block;
	cursor:pointer;
	width:24px;
	height:24px;
	background:0 0 url(../../img/wiki_icons.png?7) no-repeat;
	opacity:.6;
	border-radius:1px;
}
.icon-wiki:hover{opacity:1}
.icon-wiki.on{opacity:1;background-color:#E4EAF0}
.iw1{background-position:0 -24px}/* I */
.iw2{background-position:0 -48px}/* U */
.iw3{background-position:0 -72px}/* left */
.iw4{background-position:0 -96px}/* center */
.iw5{background-position:0 -120px}/* вправо */
.iw6{background-position:0 -144px}/* Вверх-влево */
.iw7{background-position:0 -168px}/* Вверх-центр */
.iw8{background-position:0 -192px}/* Вверх-вправо */
.iw9{background-position:0 -216px}/* Вниз-влево */
.iw10{background-position:0 -240px}/* Вниз-центр */
.iw11{background-position:0 -264px}/* Вниз-вправо */
.iw12{background-position:0 -286px}/* url */

.iw18{background-position:0 -432px}/*  */
.iw19{background-position:0 -456px}/*  */
.iw20{background-position:0 -480px}/*  */







/* Верхняя полоса сайта - шапка */
#hat{
	height:42px;
	background-color:#697F99;
	color:#fff;
	margin-left:-15px;
	padding-left:15px;
}
#hat.show{background-color:#D47E02}/* просмотр от имени другого пользователя */

/* Основное содержание сайта */
#_content{
	width:1000px;
	margin:0 auto;
	background-color:#fff;
}
#_content.site{
	border-left:#EEEFF3 solid 1px;
	border-right:#EEEFF3 solid 1px;
	border-bottom:#E4E5E9 solid 1px;
	border-radius:0 0 2px 2px;
	margin-bottom:20px;
	padding-top:1px;
}

/* блоки из таблиц */
.bl-tab{table-layout:fixed}/* каким образом вычисляется ширина ячеек, чтобы ячейки не сдвигали друг друга */
.bl-td{/*overflow-x:hidden*/}
.bl-td .ui-resizable-e{
	background-color:#ffaf64;
	width:10px;
	right:0;
}
.bl-td:not(:hover) .ui-resizable-e{opacity:.4}
.bl-td._busy *{visibility:hidden}



/* Строка управления страницей page_setup */
#pas{
	background-color: #ffaf64;
	border-bottom:#C3864C solid 1px;
	margin-left:-15px;
	padding-left:15px;
	height:60px;
}

/* отдельный блок в редактировании */
.block-unit{
	background:transparent repeat url("data:image/gif;base64,R0lGODlhCAAIAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAAIAAgAAAIMnI+pKtc+HpKQSlEAADs=");
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.6;
	z-index:1;
}
.block-unit.level1{background:transparent repeat url("data:image/gif;base64,R0lGODlhEQARAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAARABEAAAIdnI+py+2vxJOILltvw4PH42khM4pQB05JGbbbOhUAOw==")}
.block-unit.level2{background:transparent repeat url("data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAAPAA8AAAIanI+py+0tYIqKzsuszWPL14WO9h2ecYomVAAAOw==")}
.block-unit.level3{background:transparent repeat url("data:image/gif;base64,R0lGODlhDQANAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAANAA0AAAIUnI+py+0jVkTzVGpbvPJtnSncKBUAOw==")}
.block-unit.level4{background:transparent repeat url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAALAAsAAAIRnI+py32SIJKDztpsxIrqXwAAOw==")}
.block-unit:not(.grid):hover{
	background-color:#f8fff8;
	opacity:.9;
}

/* подсветка блока при выборе блока */
.block-choose{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:#ea2 dashed 1px;
	background:transparent repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAAARnQU1BAACxnmFMQfcAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOgAAFIIAAEVWAAAOpcAABdv11ofkAAAAI5JREFUeNqkk8ENgDAMA70TazAHO3UO1mAglBcfKiHTYFI/qjZOqyanGBGBiMDZ1q2f7/h47tnid11sdEnFe5Z/VcA/Kp07YnFx4mGFfyvLmJcZqbjMSDFHlZG6X2akmM/OYcq8zEjpqDKSDF3vsm57d+Rly7vcEVzvpgxnvftZoTGHTY7N7FzC8e4ofw0AM9NmC7tFrhIAAAAASUVORK5CYII=");
	opacity:.45;
	cursor:pointer;
	z-index:1;
}
.block-choose:not(.sel):not(.deny):hover{opacity:1;border-color:#d90}
.block-choose.sel{
	border-color:#d60;
	background-color:#ec6;
	opacity:.5;
}
.block-choose.deny{
	cursor:default;
	border-color:#999;
	background-color:#ccc;
	opacity:.7;
}

/* подсветка блока при выборе элемента */
.block-elem-choose{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:#5ce dashed 1px;
	background:transparent repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAAARnQU1BAACxnmFMQfcAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOgAAFIIAAEVWAAAOpcAABdv11ofkAAAAI5JREFUeNqkk8ENgDAMA70TezAGO3UOtkCshMIHJGQaTOpH1cZp1eQUIyIQEZi3Y7nPV7w/92zxu1tsdEnFa5Z/VcA/Kp07YnFy4m6FfyvLmJcZqbjMSDFHlZG6X2akmI/OYcq8zEjpqDKSDF3vsm57t+dly7vcEVzvpgxHvftZoTGHTY7N6FzC8W4vfw4AEN6KxmfW57wAAAAASUVORK5CYII=");
	opacity:.45;
	cursor:pointer;
	z-index:1;
}
.block-elem-choose:not(.sel):hover{opacity:1;border-color:#0ad}
.block-elem-choose.sel{
	border-color:#00607D;
	background-color:#6ce;
	opacity:.35;
}

/* цвета блока в настройках */
#block-set-bg div.curP{vertical-align:top}
#block-set-bg div.curP:not(.sel):hover{border:#aaa solid 1px;}
#block-set-bg div.curP:not(.sel){color:transparent}
#block-set-bg .sel{border:#777 solid 1px;}
#block-set-bg .galka{cursor:pointer}
#block-set-bg .spin{left:3px;top:4px}
#block-set-bg .bg70:not(.busy) .spin{display:none}










/* Сообщение в центре экрана об успешном выполнении */
#_msg{
	padding:15px 20px;
	position:absolute;
	width:400px;
	top:100px;
	background-color:#333;
	font:bold 12px Tahoma;
	color:#FFF;
	opacity:0.9;
	border-radius:5px;
	z-index:99999
}
#_msg a{color:#b1daff;font:bold 12px Tahoma}
#_msg b{font-size:12px}







._busy,
input.hold,
textarea.hold{
	background-image:url("data:image/gif;base64,R0lGODlhIAAIAKECAEVojoSctMHN2QAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAIAAIAAACFZyPqcvtD6KMr445LcRUN9554kiSBQAh+QQFCgADACwCAAIAEgAEAAACD4xvM8DNiJRz8Mj5ari4AAAh+QQFCgADACwCAAIAHAAEAAACGJRvM8HNCqKMCCnn4JT1XPwMG9cJH6iNBQAh+QQFCgADACwMAAIAEgAEAAACD5RvM8HNiJRz8Mj5qri4AAAh+QQFCgADACwWAAIACAAEAAACBZSPqYsFACH5BAUUAAMALAAAAAAgAAgAAAIOnI+py+0Po5y02ouzPgUAOw==");
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
}
/* скрытие текста и подсказки для прогресса */
input.hold::-webkit-input-placeholder{color:transparent}
input.hold::-moz-placeholder{color:transparent}
textarea.hold::-webkit-input-placeholder{color:transparent}
textarea.hold::-moz-placeholder{color:transparent}

._busy tt{visibility:hidden}












/* Кнопка ВКонтакте */
button.vk{
	padding:7px 16px;
	zoom:1;
	cursor:pointer;
	white-space:nowrap;
	outline:none;
	overflow:visible;
	background-color:#6383a8;/* 6287AE - новый контакт */
	color:#fff;
	border:0;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 100ms ease-in-out;
	-khtml-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
}
button.vk:not(._busy):hover{background-color:#6d8cb0} /* 678EB4 */
button.vk:active{padding:8px 16px 6px}
button.vk.short{padding:6px 8px 7px}/* короткий вариант: для кнопок переключения */
button.vk.short:active{padding:7px 8px 6px}
button.vk.small{padding:4px 10px 3px;font-size:12px}
button.vk.small:active{padding:5px 10px 2px}
/* цвета */
button.vk.cancel{background-color:transparent;color:#33567F}
button.vk.cancel:hover{background-color:#E5EBF1}
button.vk.red         {background-color:#b55}
button.vk.red:hover   {background-color:#c66}
button.vk.grey        {background-color:#888}
button.vk.grey:hover  {background-color:#999}
button.vk.pink        {background-color:#c6c}
button.vk.pink:hover  {background-color:#d7d}
button.vk.green       {background-color:#00AB50}
button.vk.green:hover {background-color:#00BB57}
button.vk.orange      {background-color:#CC8E4F}
button.vk.orange:hover{background-color:#D59553}
button.vk._busy{color:transparent}












/* вспышка и затухание элемента в списке */
#unit-flash{
	position:relative;
	display:block;
	height:0;
	z-index:3000;
}
#unit-flash div{
	position:absolute;
	left:0;
	background:#FFD782;
	opacity:0;
}
#unit-flash.red div{background:#fcc}











/* Короткие стили */
.w15{width:15px}
.w25{width:25px}
.w35{width:35px}
.w50{width:50px}
.h20{height:20px}
.h25{height:25px}
.h35{height:35px}
.h50{height:50px}
.h100{height:100px}
.mh50{min-height:50px}
.mh150{min-height:150px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w100p{width:100%}
.w125{width:125px}
.w150{width:150px}
.w175{width:175px}
.w200{width:200px}
.w230{width:230px}
.w250{width:250px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w450{width:450px}
.w500{width:500px}
.w1000{width:1000px}

.pad5{padding:5px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad15{padding:15px}
.pad20{padding:20px}
.pad30{padding:30px}
.pt1{padding-top:1px}
.pt2{padding-top:2px}
.pt3{padding-top:3px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pb5{padding-bottom:5px}
.pb40{padding-bottom:40px}
.pr3{padding-right:3px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pb3{padding-bottom:3px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pl3{padding-left:3px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}

.mara{margin:auto}
.mar5{margin:5px}
.mar8{margin:8px}
.mar10{margin:10px}
.mar20{margin:20px}
.mar0-5{margin:0 5px}
.mar020{margin:0 20px}
.mr3{margin-right:3px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.ml3{margin-left:3px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.mt1{margin-top:1px}
.mtm1{margin-top:-1px}
.mtm2{margin-top:-2px}
.mtm3{margin-top:-3px}
.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mb1{margin-bottom:1px}
.mbm2{margin-bottom:-2px}
.mbm5{margin-bottom:-5px}
.mb5{margin-bottom:5px}
.mbm5{margin-bottom:-5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb100{margin-bottom:100px}

.collaps{border-collapse:collapse}
.bs3{border-spacing:3px}
.bs5{border-spacing:5px}
.bs10{border-spacing:10px}
.bs15{border-spacing:15px}
.bor1{border:#E2E7EC solid 1px}
.bor-e8{border:#e8e8e8 solid 1px}
.bor-f0{border:#f0f0f0 solid 1px}
/* для настройки блоков */
.bor-t-dash{border-top:#f77 dashed 1px}
.bor-r-dash{border-right:#f77 dashed 1px}
.bor-b-dash{border-bottom:#f77 dashed 1px}

.b{font-weight:bold}
.i{font-style:italic}
.u{text-decoration:underline}

/* Цвета */
.white{color:#fff}
.red{color:#E22}
.black{color:#000}
.color-555{color:#555}/* тёмно-серый */
.color-aea{color:#aea}/* светло-зелёный */
.grey{color:#888}/* серый */
.pale{color:#aaa}/* бледный */
.color-ccc{color:#ccc}/* совсем бледный */
.color-vin{color:#c88}/* бордовый */
.color-del{color:#a66}/* удалено: тёмно-бордовый */
.color-acc{color:#07a}/* голубой - начисление */
.blue{color:#2B587A}  /* синий - как ссылка */
.color-pay{color:#090}/* зелёный - платёж */
.color-ref{color:#800}/* тёмно-красный - возврат */
.color-sal{color:#770}/* салатовый - расчётный счёт */

/* фоны */
.bge{background-color:#ffa}
.bg-fff{background-color:#fff}
.bg-eee{background-color:#eee}
.bg-gr1{background-color:#FaFaFa}/* светло-серый */
.bg-gr2{background-color:#F2F6F9}/* бледно-серо-синий */
.bg-gr3{background-color:#F7F7F7}/* стандарт светло-серый */
.bg-fee{background-color:#fee}   /* бледно-красный */
.bg-ffe{background-color:#ffe}
.bg-ffd{background-color:#ffd}
.edtd,/* отредактировано. При наведении класс удаляется */
.bg-ffc{background-color:#ffc}   /* жёлтый - данные изменены */
.bg-fcc{background-color:#fcc}  /* красный - ошибка */
.bg-dfd{background-color:#dfd}  /* зелёный */
.bg-efe{background-color:#efe}  /* светло-зелёный */
.bg-ddf{background-color:#ddf}  /* синий */
.bg-ccd{background-color:#cce}  /* фиолетовый */


.db{display:block}
.dib{display:inline-block}
.dn{display:none}
.vh{visibility:hidden}
.wsnw{white-space:nowrap}
.wspl{white-space:pre-line}
.bspb{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.prel{position:relative}
.top5{top:5px}
.pabs{position:absolute}

td.top{vertical-align:top}
td.topi{vertical-align:top;padding-top:7px}
td.bottom{vertical-align:bottom}
.center{text-align:center}
.r{text-align:right}
.fr{float:right}
.fl{float:left}

.fs10{font-size:10px}
.fs11{font-size:11px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs17{font-size:17px}
.fs18{font-size:18px}
.fs22{font-size:22px}

/* Курсоры */
.curM{cursor:move}
.curD{cursor:default}
.curP{cursor:pointer}

/* Изменение цвета при наведении */
.over0:hover{background-color:#fff}/* белый */
.over1:hover{background-color:#F2F6F9}/* бледно-серо-синий */
.over2:hover{background-color:#FFFFF0}/* бледно-жёлтый */
.over3:hover,.over3:hover textarea{background-color:#ffc} /* жёлтый */
.over4:hover{background-color:#F9F9F9}/* светло-серый */
.over5:not(._busy):hover{background-color:#E8ECF0}/* серо-синий */

/* Линии */
.line-t{border-top:#DEE3EF solid 1px}    /* насыщенная верхняя линия */
.line-b{border-bottom:#DEE3EF solid 1px} /* насыщенная нижняя линия */
.line-t1{border-top:#EFF2F5 solid 1px}   /* светлая верхняя линия */
.line-b1{border-bottom:#EFF2F5 solid 1px}/* светлая нижняя линия */
.line-r{border-right:#DEE3EF solid 1px}

/* Подсветка найденной подстроки */
.fndd{
	background:#ffc;
	border-bottom:1px solid #FE2;
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
}
/* Принимает все стили родителя */
.inhr{
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
}

