*{	padding:0;
	margin:0;
	font:normal 13px arial;
/*	font-family:-apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;*/
/*	box-sizing:border-box;  */
}
body{background:#fff}
body.site{background:#f8fafc}
a{	color:#2B587A;
	text-decoration:none;
	outline:none;
	cursor:pointer;
}
a:hover{text-decoration:underline}
b{font-weight:bold}
i{font-style:italic}

input,textarea{
	box-sizing:border-box;
	border:1px solid #d3d9de;
	padding:6px 8px;
	border-radius:2px;
	outline:none;
	width:150px;
}
input::-webkit-input-placeholder{color:#bbb}
input::-moz-placeholder{color:#999}
input.err{background-color:#fff2f2}
input.readonly{
	cursor:default;
	background-color:transparent;
	border-color:#DEE3EF;
	color:#555;
}

textarea{
	resize:none;
	height:46px;
	vertical-align:top;/* исключение непонятного отступа снизу */
}
textarea::-webkit-input-placeholder{color:#bbb}
textarea::-moz-placeholder{color:#999}
textarea.min{height:29px}
textarea.err{background-color:#fff2f2}
input[type="text"]:disabled,
textarea:disabled{
	color:#ccc;
	background-color:#f5f5f5;
	border:1px solid #ddd;
	cursor:default;
}

img{border:none;vertical-align:top}
table{border:0;border-spacing:0}
ol{list-style-type:none}

.nested-placeholder{outline:1px dashed #4183C4;margin-top:1px}
.mjs-nestedSortable-branch ol{padding-left:30px}
.page-sort ol{padding-left:29px}
.page-sort-hold{
	outline:1px dashed #33ABFF;
	background-color:#DCF1FF;
}




/* Фрейм отслеживания изменения высоты приложения в VK */
body:not(.site){position:relative}
#frame0,.frameD{
	position:absolute;
	border:0;
	width:100%;
	height:100%;
	z-index:-1;
}





/* Сообщение пустого запроса */
._empty{
	font-size:14px;
	color:#777;
	background:#f9f9f9;
	border:#ddd solid 1px;
	border-radius:2px;
	text-align:center;
	padding:70px 20px;
}
._empty.min{padding:20px}
._empty.red{color:red}
._empty a,
._empty b{font-size:inherit}





/* Иконки */
.icon{
	display:inline-block;
	background:-9999px 0 no-repeat url(../../img/icon18.png?55);
	width:18px;
	height:18px;
	cursor:pointer;
	margin-bottom:-3px;
}
.icon.pl:not(.spin):not(:hover){opacity:.5}/* pale: бледная иконка */
.icon.wh{background-position-y:-20px}/* white: белая иконка */
.icon-empty{cursor:default}/* пустая иконка */
.icon-edit   {background-position-x:0}    /* редактирование */
.icon-del    {background-position-x:-20px}/* удаление */
.icon-del-red{background-position-x:-40px}/* удаление красная */
.icon-add    {background-position-x:-60px}/* плюсик-добавление */
.icon-ok     {background-position-x:-80px}/* галочка */
.icon-set    {background-position-x:-100px}/* настройки: маленькая шестерёнка */
.icon-set-b  {background-position-x:-120px}/* настройки: большая шестерёнка */
.icon-off    {background-position-x:-140px}/* мусорная корзина */
.icon-offf   {background-position-x:-160px}/* мусорный контейнер */
.icon-doc    {background-position-x:-180px}/* новый документ */
.icon-order  {background-position-x:-200px}/* тележка из маркета */
.icon-client {background-position-x:-220px}/* бюст человечка */
.icon-worker {background-position-x:-240px}/* сотрудник - бюст человечка в галстуке*/
.icon-vk     {background-position-x:-260px}/* иконка VK */
.icon-rub    {background-position-x:-280px}/* значёк рубля в кружке */
.icon-usd    {background-position-x:-300px}/* значёк $ в кружке */
.icon-stat   {background-position-x:-320px}/* статистика: три столбика */
.icon-print  {background-position-x:-340px}/* принтер */
.icon-out    {background-position-x:-360px}/* внешняя ссылка: стрелка наружу */
.icon-chain  {background-position-x:-380px}/* связка: звенья цепи */
.icon-set-dot{background-position-x:-400px}/* настройки: три жирных точки */
.icon-move   {background-position-x:-420px;cursor:move}/* перемещение: стрелки четыре стороны */
.icon-move-x {background-position-x:-440px;cursor:move}/* перемещение: стрелки лево-право */
.icon-move-y {background-position-x:-460px;cursor:move}/* перемещение: стрелки верх-вниз icon-sort */
.icon-sub    {background-position-x:-480px}/* подкатегория: угловая стрелка вниз-вправо */
.icon-join   {background-position-x:-500px}/* объединение: стрелки друг на друга сверху-снизу */
.icon-info   {background-position-x:-520px}/* информация: "i" в кружке */
.icon-search {background-position-x:-540px}/* поиск: лупа */
.icon-hint   {background-position-x:-560px;cursor:default}/* подсказка: знак вопроса */
.icon-calendar{background-position-x:-580px}/* календарь */
.icon-recover{background-position-x:-600px}/* восстановить: завёрнутая стрелка */
.icon-eye    {background-position-x:-620px}/* формат отображения текста: глаз */
.icon-star   {background-position-x:-640px}/* звезда */
.icon-comment{background-position-x:-660px}/* комментарий */
.icon-cube   {background-position-x:-680px}/* блоки: три кубика */
.icon-filter {background-position-x:-800px}/* фильтр: воронка */
.icon-link   {background-position-x:-820px}/* внешняя ссылка: загнутая стрелка */
.icon-clock  {background-position-x:-840px}/* часы */
.icon-cancel {background-position-x:-860px}/* отмена: перечёркнутый круг */
.icon-hand   {background-position-x:-880px}/* рука: чёрный список */
.icon-exit   {background-position-x:-900px}/* стрелка из квадратика: выход */
.icon-copy   {background-position-x:-920px}/* копирование: два прямоугольничка друг за другом */
.icon-manual {background-position-x:-940px}/* руководство: раскрытая книжка */
.icon-admin  {background-position-x:-960px}/* администратор: человек в кружках */
.icon-video  {background-position-x:-980px}/* видеоролик: треугольник в квадратике */
.icon-sciss  {background-position-x:-1020px}/* ножницы */

/* настройка ширины блоков */
.icon-width  {
	background-position-x:-700px;
	width:44px;
	height:21px;
}
.icon-width.on  {background-position-x:-750px}
.icon-width.on .ttdiv{display:none}
.icon-width:not(.on):not(:hover){opacity:.7}
.icon-width._busy{background-position-x:center}

/* ожидание процесса загрузки для любой иконки */
.icon.spin{
	height:16px;
	margin-top:1px;
	margin-bottom:-2px;
	background-position:-1000px -1px;
	cursor:default;
    animation: spin 700ms infinite linear;
    -webkit-animation: spin 700ms infinite linear;
    -moz-animation: spin 700ms infinite linear;
}
@-webkit-keyframes spin{to{-webkit-transform:rotate(360deg)}}
@-moz-keyframes spin{to{-moz-transform: rotate(360deg)}}
@keyframes spin{to{transform: rotate(360deg)}}
.icon.spin *{display:none}



















/* иконки редактирования текста */
.icon-wiki{
	display:inline-block;
	cursor:pointer;
	width:24px;
	height:24px;
	background:0 0 url(../../img/wiki_icons.png?13) no-repeat;
	opacity:.5;
	border-radius:1px;
}
.icon-wiki:hover{opacity:1}
.icon-wiki.on{opacity:1;background-color:#E4EAF0}
.iw1{background-position:0 -24px}/* I */
.iw2{background-position:0 -48px}/* U */
.iw3{background-position:0 -72px}/* left */
.iw4{background-position:0 -96px}/* center */
.iw5{background-position:0 -120px}/* вправо */
.iw6{background-position:0 -144px}/* Вверх-влево */
.iw7{background-position:0 -168px}/* Вверх-центр */
.iw8{background-position:0 -192px}/* Вверх-вправо */
.iw9{background-position:0 -216px}/* Вниз-влево */
.iw10{background-position:0 -240px}/* Вниз-центр */
.iw11{background-position:0 -264px}/* Вниз-вправо */
.iw12{background-position:0 -286px}/* url */
.iw13{background-position:0 -310px}/* скрытый блок */
.iw14{background-position:0 -334px}/* показывать блок при создании записи */
.iw15{background-position:0 -358px}/* показывать блок при редактировании записи */







/* Верхняя полоса сайта - шапка */
#hat-prel{
	position:relative;
	height:42px;
}
#hat{
	position:fixed;
	top:0;
	left:0;
	height:42px;
	background-color:#697F99;
	color:#fff;
	z-index:3;
}
#hat-center{width:1000px;margin:0 auto}
#hat.show{background-color:#D47E02}/* просмотр от имени другого пользователя */
.hat-title{
	display:inline-block;
	margin-top:8px;
	font-size:22px;
	color:#fff;
	max-width:450px;
	white-space:nowrap;
	overflow-x:hidden;
}
#hat.local{background-color:#777}

#hat-but{
	width:100px;
	height:42px;
	float:right;
	text-align:right;
	margin-right:40px;
}
#hat-but button{
	cursor:pointer;
	outline:none;
	border:0;
	width:42px;
	height:42px;
	background-color:inherit;
	opacity:.5;
}
#hat-but button:hover{background-color:#5C738E;opacity:1}
#app-error{background:8px 8px url(../../img/app-error.png?6) no-repeat}
/* кнопка включения настройки страницы */
#page_setup{background:5px 5px url(../../img/_page.png?7) no-repeat}
#page_setup.ispas{opacity:1}
#page_setup:active{background-position:5px 6px}

/*#app-admin{background:5px 5px url(../../img/_admin.png?7) no-repeat}*/

#hat-user{
	width:155px;
	height:42px;
	float:right;
	text-align:right;
	position:relative;
}
#hat-user:not(.ispas):hover{background-color:#5C738E;cursor:pointer}
#hat.local #hat-user:not(.ispas):hover{background-color:#6A6A6A;cursor:pointer}

#hat-user .uname{margin:13px 8px 0 0;font-size:14px}
#hat-user.ispas .uname{opacity:.5}
#hat-user dl{
	position:absolute;
	width:inherit;
	top:42px;
	background-color:inherit;
	box-shadow:0 4px 6px 0 rgba(100,100,100,.4);
	border-radius:0 0 3px 3px;
	z-index:1000;
}
#hat-user dd{padding:10px;color:#BCCCE0}
#hat-user dd:hover{color:#fff}
#hat-user .sa{color:#800;text-decoration:none}
#hat-user .sa:hover{color:#e99}
#hat-user:not(:hover) dl,
#hat-user.ispas dl{display:none}
#hat-user dd:not(:hover) .icon{opacity:.7}

/* подменю с моими приложениями в шапке */
#hat-sub{position:relative}

#hat-sub > div,
#hat-sub:hover{background-color:#697F99}
#hat.local #hat-sub > div,
#hat.local #hat-sub:hover{background-color:#777}

#hat-sub:not(:hover) > div{display:none}
#hat-sub > div{
	position:absolute;
	top:0;
	width:220px;
	left:-220px;
	border-radius:3px 0 3px 3px;
	box-shadow:-4px 4px 6px 0 rgba(100,100,100,.4);
}
#hat-sub tr:not(:hover):not(.on){opacity:0.5}






/* Основное содержание сайта */
#_content{background-color:#fff}
#_content.site{
	border-left:#EEEFF3 solid 1px;
	border-right:#EEEFF3 solid 1px;
	border-bottom:#E4E5E9 solid 1px;
	border-radius:0 0 2px 2px;
	margin-bottom:20px;
	padding-top:1px;
}

/* блоки из таблиц */
/*.bl-tab{table-layout:fixed} каким образом вычисляется ширина ячеек, чтобы ячейки не сдвигали друг друга */
.bl-td{/*overflow-x:hidden*/}
.bl-td .ui-resizable-e{
	background-color:#ffaf64;
	width:10px;
	right:0;
}
.bl-td:not(:hover) .ui-resizable-e{opacity:.4}
.bl-td .dbusy{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:.0
}
.bl-td._busy *{visibility:hidden}
/*.bl-td._busy .dbusy{opacity:.5}*/


/* Строка управления страницей page_setup */
#pas{
	background-color: #FFCB80;/*ffaf64*/
	border-bottom:#C3864C solid 1px;
	height:55px;
}

/* отдельный блок в редактировании */
.block-unit{
	background:transparent repeat url("data:image/gif;base64,R0lGODlhCAAIAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAAIAAgAAAIMnI+pKtc+HpKQSlEAADs=");
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:.6;
	z-index:2;
	text-align:right;
	font-size:11px;
}
.block-unit.level1{background:transparent repeat url("data:image/gif;base64,R0lGODlhEQARAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAARABEAAAIdnI+py+2vxJOILltvw4PH42khM4pQB05JGbbbOhUAOw==")}
.block-unit.level2{background:transparent repeat url("data:image/gif;base64,R0lGODlhDwAPAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAAPAA8AAAIanI+py+0tYIqKzsuszWPL14WO9h2ecYomVAAAOw==")}
.block-unit.level3{background:transparent repeat url("data:image/gif;base64,R0lGODlhDQANAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAANAA0AAAIUnI+py+0jVkTzVGpbvPJtnSncKBUAOw==")}
.block-unit.level4{background:transparent repeat url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///8Hduv///yH5BAEAAAMALAAAAAALAAsAAAIRnI+py32SIJKDztpsxIrqXwAAOw==")}
.block-unit:not(.grid):hover{
	background-color:#f8fff8;
	opacity:.9;
}

/* подсветка блока при выборе блока */
.blk-choose{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:#ea2 dashed 1px;
	background:transparent repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAAARnQU1BAACxnmFMQfcAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOgAAFIIAAEVWAAAOpcAABdv11ofkAAAAI5JREFUeNqkk8ENgDAMA70TazAHO3UO1mAglBcfKiHTYFI/qjZOqyanGBGBiMDZ1q2f7/h47tnid11sdEnFe5Z/VcA/Kp07YnFx4mGFfyvLmJcZqbjMSDFHlZG6X2akmM/OYcq8zEjpqDKSDF3vsm57d+Rly7vcEVzvpgxnvftZoTGHTY7N7FzC8e4ofw0AM9NmC7tFrhIAAAAASUVORK5CYII=");
	opacity:.45;
	cursor:pointer;
	z-index:1;
}
.blk-choose:not(.sel):not(.deny):not(._busy):hover{opacity:1;border-color:#d90}
.blk-choose.sel{
	border-color:#d60;
	background-color:#ec6;
	opacity:.5;
}
.blk-choose.deny{
	cursor:default;
	border-color:#999;
	background-color:#ccc;
	opacity:.7;
}
.blk-choose._busy{
	cursor:default;
	border-color:#bbb;
	background-color:#eee;
	opacity:.9;
}

/* подсветка блока с элементом при выборе значения */
.elm-choose{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	border:#5ce dashed 1px;
	background:transparent repeat url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAAARnQU1BAACxnmFMQfcAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOgAAFIIAAEVWAAAOpcAABdv11ofkAAAAI5JREFUeNqkk8ENgDAMA70TezAGO3UOtkCshMIHJGQaTOpH1cZp1eQUIyIQEZi3Y7nPV7w/92zxu1tsdEnFa5Z/VcA/Kp07YnFy4m6FfyvLmJcZqbjMSDFHlZG6X2akmI/OYcq8zEjpqDKSDF3vsm57t+dly7vcEVzvpgxHvftZoTGHTY7N6FzC8W4vfw4AEN6KxmfW57wAAAAASUVORK5CYII=");
	opacity:.45;
	cursor:pointer;
	z-index:1;
}
.elm-choose:not(.sel):hover{opacity:1;border-color:#0ad}
.elm-choose.sel{
	border-color:#00607D;
	background-color:#6ce;
	opacity:.35;
}

/* цвета заливки блока в настройках */
.bgu{/* квадратик с заливкой */
	display:inline-block;
	height:25px;
	width:25px;
	background-color:#fff;
	border:#bbb solid 1px;
	border-radius:3px;
	cursor:pointer;
	text-align:center;
	font-size:17px;
	color:#888;
	position:relative;
}
.bgu:not(.sel):hover{border-color:#bbb}
.bgu:not(.on){color:transparent;border-color:#e8e8e8}
.bgu-list{/* варианты заливок */
	position:absolute;
	left:-35px;
	top:-5px;
	width:180px;
	height:122px;
	background-color:#fff;
	border:#ddd solid 1px;
	border-radius:3px;
	box-shadow:0 0 14px 0 rgba(0,0,0,.2);
	text-align:left;
	padding:3px 0 0 3px;
	cursor:default;
	z-index:100;
}
#blk-bg:not(:hover) .bgu-list{display:none}
#blk-ov:not(:hover) .bgu-list{display:none}

#blk-bg70:not(.busy) .spin{display:none}
#blk-bg70 .spin{left:3px;top:4px}

.blk-line{/* выбор линий */
	position:relative;
	display:inline-block;
	cursor:pointer;
	border:#eee solid 1px;
	border-radius:2px;

	width:66px;/* горизонтальные */
	height:15px;
}
.blk-line:hover{border-color:#d8d8d8}
.blk-line.ver{/* вертикальные */
	width:15px;
	height:66px;
}
.blk-line span{
	background-color:#DEE3EF;
	position:absolute;
	top:6px;
	left:4px;
	width:58px;
	height:3px;
}
.blk-line.ver span{
	top:4px;
	left:6px;
	width:3px;
	height:58px;
}
.blk-line:not(.on) span{display:none}





/* Сообщение в центре экрана об успешном выполнении */
#_msg{
	padding:15px 20px;
	position:absolute;
	width:400px;
	top:100px;
	background-color:#333;
	font:bold 12px Tahoma;
	color:#FFF;
	opacity:0.9;
	border-radius:5px;
	z-index:99999;
}
#_msg a{color:#b1daff;font:bold 12px Tahoma}
#_msg b{font-size:12px}













/* Ожидание применения сортировки */
.elm-sort-hold{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:#fff;
	opacity:.8;
}

















/* вспышка и затухание элемента в списке */
#unit-flash{
	position:relative;
	display:block;
	height:0;
	z-index:3000;
}
#unit-flash div{
	position:absolute;
	left:0;
	background:#FFD782;
	opacity:0;
}
#unit-flash.red div{background:#fcc}







/* Имя колонки у элемента при настройке блоков */
.elem-col{
	position:absolute;
	right:0;
	top:0;
	padding:2px 4px;
	font-size:11px;
	color:#00A000;
	background-color:#efe;
	border-bottom:#B7FFB7 solid 1px;
	border-left:#B7FFB7 solid 1px;
	z-index:1;
}








/* Активность пользователей */
#user-active .tdd{
	width:100px;
	border-bottom:#C5CCDC solid 1px;
}
#user-active .m10{
	height:7px;
	border-right:#C5CCDC solid 1px;
}
#user-active .m10.ll{border-left:#C5CCDC solid 1px}
#user-active .m10num{
	font-size:10px;
	right:-6px;
	top:-12px;
	z-index:2;
}
#user-active .mu{
	position:absolute;
	top:-13px;
	left:0;
	width:10px;
	height:20px;
	background-color:#8f8;
	opacity:.4;
	z-index:1;
}
#user-active .mu.l1{left:10px}
#user-active .mu.l2{left:20px}
#user-active .mu.l3{left:30px}
#user-active .mu.l4{left:40px}
#user-active .mu.l5{left:50px}
#user-active .mu.l6{left:60px}
#user-active .mu.l7{left:70px}
#user-active .mu.l8{left:80px}
#user-active .mu.l9{left:90px}









/* Короткие стили */
.w15{width:15px}
.w25{width:25px}
.w30{width:30px}
.w35{width:35px}
.w50{width:50px}
.h20{height:20px}
.h25{height:25px}
.h35{height:35px}
.h100{height:100px}
.mh50{min-height:50px}
.mh150{min-height:150px}
.w70{width:70px}
.w80{width:80px}
.w90{width:90px}
.w100{width:100px}
.w100p{width:100%}
.w125{width:125px}
.w150{width:150px}
.w175{width:175px}
.w200{width:200px}
.w230{width:230px}
.w250{width:250px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w450{width:450px}
.w500{width:500px}
.w1000{width:1000px}

.pad3{padding:3px}
.pad5{padding:5px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad15{padding:15px}
.pad20{padding:20px}
.pad30{padding:30px}
.pt1{padding-top:1px}
.pt2{padding-top:2px}
.pt3{padding-top:3px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pb2{padding-bottom:2px}
.pb5{padding-bottom:5px}
.pb40{padding-bottom:40px}
.pr3{padding-right:3px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pr30{padding-right:30px}
.pr40{padding-right:40px}
.pb3{padding-bottom:3px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pl3{padding-left:3px}
.pl5{padding-left:5px}
.pl8{padding-left:8px}
.pl10{padding-left:10px}
.pl15{padding-left:15px}
.pl20{padding-left:20px}
.pl25{padding-left:25px}

.mara{margin:auto}
.mar5{margin:5px}
.mar8{margin:8px}
.mar10{margin:10px}
.mar20{margin:20px}
.mar0-5{margin:0 5px}
.mar020{margin:0 20px}
.mr3{margin-right:3px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr30{margin-right:30px}
.mr40{margin-right:40px}
.ml3{margin-left:3px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.ml60{margin-left:60px}
.ml80{margin-left:80px}
.ml100{margin-left:100px}
.mt1{margin-top:1px}
.mt2{margin-top:2px}
.mtm1{margin-top:-1px}
.mtm2{margin-top:-2px}
.mtm3{margin-top:-3px}
.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt8{margin-top:8px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mb1{margin-bottom:1px}
.mb2{margin-bottom:2px}
.mbm2{margin-bottom:-2px}
.mbm3{margin-bottom:-3px}
.mb5{margin-bottom:5px}
.mbm5{margin-bottom:-5px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb100{margin-bottom:100px}

.collaps{border-collapse:collapse}
.bs3{border-spacing:3px}
.bs5{border-spacing:5px}
.bs10{border-spacing:10px}
.bs15{border-spacing:15px}
.bor1{border:#E2E7EC solid 1px}
.bor-dash{border:#ddd dashed 1px}
.bor-e8{border:#e8e8e8 solid 1px}
.bor-f0{border:#f0f0f0 solid 1px}

/* для настройки блоков */
.bor-t-dash{border-top:#f77 dashed 1px}
.bor-r-dash{border-right:#f77 dashed 1px}
.bor-b-dash{border-bottom:#f77 dashed 1px}

.b{font-weight:bold !important}
.i{font-style:italic !important}
.u{text-decoration:underline !important}




/* Цвета */
.clr0{color:#000 !important}/* чёрный */
.clr1{color:#888 !important}/* серый */
.clr2{color:#aaa !important}/* бледный */
.clr3{color:#ccc !important}/* совсем бледный */
.clr4{color:#fff !important}/* белый */
.clr5{color:#E22 !important}/* красный */
.clr6{color:#c88 !important}/* бордовый */
.clr7{color:#a66 !important}/* удалено: тёмно-бордовый */
.clr8{color:#800 !important}/* тёмно-красный - возврат */
.clr9{color:#555 !important}/* тёмно-серый */
.clr10{color:#aea !important}/* светло-зелёный */
.clr11{color:#090 !important}/* зелёный - платёж */
.clr12{color:#070 !important}/* тёмно-зелёный */
.clr13{color:#770 !important}/* салатовый - расчётный счёт */
.clr14{color:#07A !important}/* голубой - начисление */
.clr15{color:#2B587A !important}  /* синий - как ссылка */





/* фоны */
.bg-eee{background-color:#eee}
.bg-ffc{background-color:#ffc}  /* жёлтый - данные изменены */
.bg-fcc{background-color:#fcc}  /* красный - ошибка */
.bg-orange{background-color:#ffaf64}/* оранжевый-насыщенный */

.bg0,.ov0:hover{background-color:#fff}
.bg1,.ov1:hover{background-color:#ffe}
.bg2,.ov2:hover{background-color:#f7f7ee}
.bg3,.ov3:hover{background-color:#eff}
.bg4,.ov4:hover{background-color:#F2F6F9}
.bg5,.ov5:hover{background-color:#efe}
.bg6,.ov6:hover{background-color:#f7f7f7}
.bg7,.ov7:hover{background-color:#ffd}
.bg8,.ov8:hover{background-color:#FaFaD6}
.bg9,.ov9:hover{background-color:#dff}
.bg10,.ov10:hover{background-color:#ECF9FE}
.bg11,.ov11:hover{background-color:#dfd}
.bg12,.ov12:hover{background-color:#f0f0f0}
.bg13,.ov13:hover{background-color:#FFEfD3}
.bg14,.ov14:hover{background-color:#fee}
.bg15,.ov15:hover{background-color:#FFF4FF}
.bg16,.ov16:hover{background-color:#DFF1F6}
.bg17,.ov17:hover{background-color:#ddf2dd}


.db{display:block}
.dib{display:inline-block}
.dn{display:none}
.vh{visibility:hidden}
.wsnw{white-space:nowrap}
.wspl{white-space:pre-line}
.bspb{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}
.prel{position:relative}
.top5{top:5px}
.top6{top:6px}
.l5{left:5px}
.r3{right:3px}
.r5{right:5px}
.pabs{position:absolute}

td.top,th.top{vertical-align:top}
td.topi{vertical-align:top;padding-top:7px}
td.bottom{vertical-align:bottom}
.center{text-align:center}
.l{text-align:left}
.r{text-align:right}
.fr{float:right}
.fl{float:left}
.br3{border-radius:3px}
.br1000{border-radius:1000px}

.fs10{font-size:10px}
.fs11{font-size:11px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs17{font-size:17px}
.fs18{font-size:18px}
.fs19{font-size:19px}
.fs20{font-size:20px}
.fs21{font-size:21px}
.fs22{font-size:22px}
.fs23{font-size:23px}
.fs24{font-size:24px}
.fs25{font-size:25px}
.fs26{font-size:26px}
.fs27{font-size:27px}
.fs28{font-size:28px}
.fs29{font-size:29px}
.fs30{font-size:30px}
.fs31{font-size:31px}
.fs32{font-size:32px}
.fs33{font-size:33px}
.fs34{font-size:34px}
.fs35{font-size:35px}
.fs36{font-size:36px}
.fs37{font-size:37px}
.fs38{font-size:38px}
.fs39{font-size:39px}
.fs40{font-size:40px}
.fs41{font-size:41px}
.fs42{font-size:42px}
.fs43{font-size:43px}
.fs44{font-size:44px}
.fs45{font-size:45px}
.fs46{font-size:46px}
.fs47{font-size:47px}
.fs48{font-size:48px}
.fs49{font-size:49px}
.fs50{font-size:50px}
.fsin{font-size:inherit}

/* Курсоры */
.curM{cursor:move}
.curD{cursor:default}
.curP{cursor:pointer}

/* Изменение цвета при наведении */
.over0:hover{background-color:#fff}/* белый */
.over1:hover{background-color:#F2F6F9}/* бледно-серо-синий */
.over2:hover{background-color:#FFFFF0}/* бледно-жёлтый */
.over3:hover,.over3:hover textarea{background-color:#ffc} /* жёлтый */
.over4:hover{background-color:#F9F9F9}/* светло-серый */
.over5:not(._busy):hover{background-color:#E8ECF0}/* серо-синий */

.over3:not(:hover) .over3-show{display:none}

/* Показ элемента "over-child" при наведении на "over-parent" */
.over-parent:not(:hover) .over-child{display:none}


/* Линии */
.line-t{border-top:#DEE3EF solid 1px}    /* насыщенная верхняя линия */
.line-b{border-bottom:#DEE3EF solid 1px} /* насыщенная нижняя линия */
.line-t1{border-top:#EFF2F5 solid 1px}   /* светлая верхняя линия */
.line-b1{border-bottom:#EFF2F5 solid 1px}/* светлая нижняя линия */
.line-l{border-left:#DEE3EF solid 1px}
.line-r{border-right:#DEE3EF solid 1px}

/* Подсветка найденной подстроки */
.fndd{
	background:#ffc;
	border-bottom:1px solid #FE2;
	color:inherit;
	font-size:inherit;
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
}
/* Принимает все стили родителя */
.inhr{
	font-size:inherit;
	font-weight:inherit;
	font-style:inherit;
	text-decoration:inherit;
}
.inhr:not(._busy){color:inherit}









._busy,
input.hold,
textarea.hold{
	background-image:url("data:image/gif;base64,R0lGODlhIAAIAKECAEVojoSctMHN2QAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAIAAIAAACFZyPqcvtD6KMr445LcRUN9554kiSBQAh+QQFCgADACwCAAIAEgAEAAACD4xvM8DNiJRz8Mj5ari4AAAh+QQFCgADACwCAAIAHAAEAAACGJRvM8HNCqKMCCnn4JT1XPwMG9cJH6iNBQAh+QQFCgADACwMAAIAEgAEAAACD5RvM8HNiJRz8Mj5qri4AAAh+QQFCgADACwWAAIACAAEAAACBZSPqYsFACH5BAUUAAMALAAAAAAgAAgAAAIOnI+py+0Po5y02ouzPgUAOw==");
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
}
/* скрытие текста и подсказки для прогресса */
input.hold::-webkit-input-placeholder{color:transparent}
input.hold::-moz-placeholder{color:transparent}
textarea.hold::-webkit-input-placeholder{color:transparent}
textarea.hold::-moz-placeholder{color:transparent}

._busy tt{visibility:hidden}





