*{	padding:0;
	margin:0;
	font:13px normal;
	font-family: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
}
body{background:#fff}
a{color:#2B587A;text-decoration:none;outline:none;cursor:pointer}
a:hover{text-decoration:underline}
b{font-weight:bold}
i{font-style:italic}
input,textarea{
	border:1px solid #d3d9de;
	padding:6px 8px;
	border-radius:1px;
	outline:none;
}
input[type="text"]:disabled,
textarea:disabled{color:#ccc;background:#f5f5f5}
input::-webkit-input-placeholder{color:#bbb}
input::-moz-placeholder{color:#999}
input.oplata{font:bold 13px Tahoma;width:60px;padding:4px}
input.money{font:bold 14px Tahoma;width:100px}
input.err{background:#fff2f2}
textarea{resize:none;height:30px}
textarea::-webkit-input-placeholder{color:#bbb}
textarea::-moz-placeholder{color:#999}
textarea.min{height:15px}
textarea.err{background:#fff2f2}
img{border:none}
table{border:0;border-spacing:0}








/* Основное окно фрейма */
#frameBody{
	position:relative;
	margin:0 auto;
	background:#fff;
	max-width:795px;
	border-bottom:#DAE1E8 solid 1px;
	overflow:hidden;
}
#frameHidden{
	border:0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}






.tabLR{width:100%}
.tabLR .left{vertical-align:top}
.tabLR .right{
	vertical-align:top;
	padding:8px 8px 20px 8px;
	width:200px;
	background:#f7f7f7;
	border-left:#dae1e8 solid 1px;
	height:450px;
}






/* Иконки */
.icon{
	display:inline-block;
	background:url(../../img/icon_vk.png?40) no-repeat;
	width:18px;
	height:18px;
	padding:0 1px;
	cursor:pointer;
}
.icon.pl:not(:hover){opacity:.5}/* бледная иконка */
.icon-empty{background-position:0 -5000px}
.icon-client{background-position:0 0}
.icon-del{background-position:0 -20px}
.icon-del-red{background-position:0 -120px}
.icon-del-white{background-position:0 -320px}
.icon-zp{background-position:0 -40px}
.icon-vk{background-position:0 -60px}
.icon-edit{background-position:0 -80px}
.icon-edit-white{background-position:0 -520px}
.icon-out{background-position:0 -100px}
.icon-rub{background-position:0 -140px}
.icon-print{background-position:0 -160px}
.icon-worker{background-position:0 -180px}
.icon-setup{background-position:0 -200px}
.icon-setup-big{background-position:0 -220px}
.icon-sort{background-position:0 -240px}
.icon-add{background-position:0 -260px}
.icon-ok{background-position:0 -280px}
.icon-sub{background-position:0 -300px}
.icon-dot{background-position:0 -340px}
.icon-link{background-position:0 -360px}
.icon-join{background-position:0 -380px}
/*.icon-off{background-position:0 -400px} мусорный контейнер*/
.icon-order{background-position:0 -420px}
.icon-move{background-position:0 -440px}
.icon-avai{background-position:0 -460px}
.icon-off{background-position:0 -480px}
.icon-stat{background-position:0 -500px}
.icon-hint{
	background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAARCAYAAAA7bUf6AAAAAXNSR0IArs4c6QAAAitJREFUOBGdVDFoU1EUvfe9/5UPKRXBQRelglCczOAmDloqTSPo4NzZmq9JC652kkJIYmi1Y+cOijZFRQeLm2DAwerUUReVSgO1Sf+73vPTX76/RdA35L77zjn3P+47N0yZVa4tBeznrpLQRWIeEnJHmMwGiawT06r0Os/qlRtbaRmnk+mHrcsustN61hbpvTSH+eMmHf85QF8H3bacZfZHFcsbG1WrN8dfJ9q9IpX5lQmO+Hpk3d3G5PinhJCNd+ZbwzYys2LlcW2ysAjc4Ac3QAG305n4WwFwgYMHPnQ4434PBp44E5XTBcrN1gWF72lfzjPJF3FUr98uLECEhRsZZ+vS27xm4iZqD/4ogOayWdYiw0JSFaEtNvwofLB8qV+ifyPdt6E3eAVm9yIBEXt+cFJE3pO4SqNUmHHM93FuiM8hJgvNh97DM5IfrSUA4lyp+FlD/NVSc+mYFQk17xqWV8CThdeTLg8Z+ADPmADpeGv26QmPcu+E6LSL3GgtLH5I49BB78FI8IGC39IE7L3AXmGmU454rFEuvsni0Al5G9oTWYeRsoQ4j7afk5OZ7vfO24PwWKd67RWt7jpxH8/YYES7GR4aDM7sA/Ug1qneYBY0z+Pds0QR1xXhX8ZSlMV2+XnoY9vDebJjQjhRh+tHVpDN1aBHjZdbZM81MUOx7bHBLAA46EbpIrFTlQd+MoR7Awji1NzKiIiZ0m07NqDv1v5pipOv/c//yW90GxY+MmYg4gAAAABJRU5ErkJggg==") no-repeat 0 0;
	margin-bottom:-6px;
	opacity:.5;
}
.icon-hint:hover{opacity:1}














/* Верхняя полоса сайта - шапка */
#hat{
	height:42px;
	background-color:#697F99;
	color:#fff;
}
#hat p{
	width:1000px;
	margin:auto;
	padding-top:8px;
	font-size:22px;
}


/* Строка управления страницей page_setup */
#pas{
	background-color:#ffc;
	border-bottom:#F2F2C2 solid 1px;
}
#pas .p{width:1000px;margin:auto}

/* Основное содержание сайта */
#_content{
	width:1000px;
	margin:auto;
}







._busy{
	background-image:url("data:image/gif;base64,R0lGODlhIAAIAKECAEVojoSctMHN2QAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgADACwAAAAAIAAIAAACFZyPqcvtD6KMr445LcRUN9554kiSBQAh+QQFCgADACwCAAIAEgAEAAACD4xvM8DNiJRz8Mj5ari4AAAh+QQFCgADACwCAAIAHAAEAAACGJRvM8HNCqKMCCnn4JT1XPwMG9cJH6iNBQAh+QQFCgADACwMAAIAEgAEAAACD5RvM8HNiJRz8Mj5qri4AAAh+QQFCgADACwWAAIACAAEAAACBZSPqYsFACH5BAUUAAMALAAAAAAgAAgAAAIOnI+py+0Po5y02ouzPgUAOw==");
	background-repeat:no-repeat;
	background-position:center center;
	color:transparent;
}
._busy tt{visibility:hidden}












/* Кнопка ВКонтакте */
button.vk{
	padding: 7px 16px 8px;
	zoom: 1;
	cursor: pointer;
	white-space: nowrap;
	outline: none;
	overflow: visible;
	line-height: 13px;
	background-color:#6383a8;/* 6287AE - новый контакт */
	color: #fff;
	border:0;
	vertical-align: top;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 100ms ease-in-out;
	-khtml-transition: background-color 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out;
	transition: background-color 100ms ease-in-out;
}
button.vk:not(._busy):hover{background:#6d8cb0} /* 678EB4 */
button.vk.fw{width:100%}
button.vk:active{padding-top:8px;padding-bottom:7px}
button.vk._busy{color:transparent}
button.vk.small{padding:4px 10px 3px;font-size:12px}
button.vk.small:active{padding-top:5px;padding-bottom:2px}
button.vk.cancel{background:transparent;color:#33567F}
button.vk.cancel:hover{background:#E5EBF1}
button.vk.red{background-color:#b55}
button.vk.red:hover{background-color:#c66}
button.vk.grey{background-color: #888}
button.vk.grey:hover{background-color:#999}
button.vk.pink{background-color: #c6c}
button.vk.pink:hover{background-color:#d7d}
button.vk.green{background-color: #00AB50}
button.vk.green:hover{background-color:#00BB57}
button.vk.orange{background-color: #CC8E4F}
button.vk.orange:hover{background-color:#D59553}
/*
button.vk.edit{background-color: #CC8E4F}
button.vk.edit:hover{background-color:#D59553}
*/













/* вспышка и затухание элемента в списке */
#unit-flash{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:#FFD782;
	opacity:0;
}















/* Короткие стили */
.w15{width:15px}
.w35{width:35px}
.w50{width:50px}
.h20{height:20px}
.h25{height:25px}
.h50{height:50px}
.mh150{min-height:150px}
.w70{width:70px}
.w100{width:100px}
.w100p{width:100%}
.w125{width:125px}
.w150{width:150px}
.w175{width:175px}
.w200{width:200px}
.w230{width:230px}
.w250{width:250px}
.w300{width:300px}
.w350{width:350px}
.w400{width:400px}
.w450{width:450px}
.w500{width:500px}
.w1000{width:1000px}

.pad5{padding:5px}
.pad2-7{padding:2px 7px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad15{padding:15px}
.pad20{padding:20px}
.pad30{padding:30px}
.pt1{padding-top:1px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pb5{padding-bottom:5px}
.pb40{padding-bottom:40px}
.pr5{padding-right:5px}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pb10{padding-bottom:10px}
.pb20{padding-bottom:20px}
.pl5{padding-left:5px}
.pl10{padding-left:10px}
.pl20{padding-left:20px}

.mar8{margin:8px}
.mar10{margin:10px}
.mar20{margin:20px}
.mar0-5{margin:0 5px}
.mar020{margin:0 20px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr20{margin-right:20px}
.ml5{margin-left:5px}
.ml8{margin-left:8px}
.ml10{margin-left:10px}
.ml20{margin-left:20px}
.ml30{margin-left:30px}
.ml40{margin-left:40px}
.mt1{margin-top:1px}
.mtm1{margin-top:-1px}
.mtm2{margin-top:-2px}
.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt40{margin-top:40px}
.mb1{margin-bottom:1px}
.mbm2{margin-bottom:-2px}
.mb5{margin-bottom:5px}
.mbm5{margin-bottom:-5px}
.mb10{margin-bottom:10px}
.mb20{margin-bottom:20px}
.mb30{margin-bottom:30px}
.mb40{margin-bottom:40px}
.mb100{margin-bottom:100px}

.collaps{border-collapse:collapse}
.bs5{border-spacing:5px}
.bs10{border-spacing:10px}
.bs15{border-spacing:15px}
.bor1{border:#E2E7EC solid 1px}
.bor-e8{border:#e8e8e8 solid 1px}
.bor-f0{border:#f0f0f0 solid 1px}

.b{font-weight:bold}
.i{font-style:italic}
.u{text-decoration:underline}

/* Цвета */
.white{color:#fff}
.red{color:#E22}
.black{color:#000}
.color-555{color:#555}/* тёмно-серый */
.color-aea{color:#aea}/* светло-зелёный */
.grey{color:#888}/* серый */
.pale{color:#aaa}/* бледный */
.color-ccc{color:#ccc}/* совсем бледный */
.color-vin{color:#c88}/* бордовый */
.color-del{color:#a66}/* удалено: тёмно-бордовый */
.color-acc{color:#07a}/* голубой - начисление */
.color-pay{color:#090}/* зелёны - платёж */
.color-ref{color:#800}/* красный - возврат */
.color-sal{color:#770}/* салатовый - расчётный счёт */

.bge{background-color:#ffa}
.bg-fff{background-color:#fff}
.bg-eee{background-color:#eee}
.bg-gr1{background-color:#F9F9F9}/* светло-серый */
.bg-gr2{background-color:#F2F6F9}/* бледно-серо-синий */
.bg-gr3{background-color:#F7F7F7}/* стандарт светло-серый */
.bg-add{background-color:#e0ffe0}
.bg-fee,.bg-del{background-color:#fee}
.bg-ffe{background-color:#ffe}
.bg-ffd{background-color:#ffd}
.edtd,/* отредактировано. При наведении класс удаляется */
.bg-ffc,
.bg-ch{background-color:#ffc}   /* жёлтый - данные изменены */
.bg-err,
.bg-fcc{background-color:#fcc}  /* красный - ошибка */
.bg-dfd{background-color:#dfd}  /* зелёный */
.bg-ddf{background-color:#ddf}  /* синий */
.bg-ccd{background-color:#cce}  /* фиолетовый */


.db{display:block}
.dib{display:inline-block}
.dn{display:none}
.vh{visibility:hidden}
.wsnw{white-space:nowrap}
.wspl{white-space:pre-line}
.prel{position:relative}
.top5{top:5px}
.pabs{position:absolute}

.center{text-align:center}
.r{text-align:right}
.fr{float:right}
.fl{float:left}

.fs10{font-size:10px}
.fs11{font-size:11px}
.fs12{font-size:12px}
.fs14{font-size:14px}
.fs15{font-size:15px}
.fs16{font-size:16px}
.fs17{font-size:17px}
.fs18{font-size:18px}

/* Курсоры */
.curM{cursor:move}
.curD{cursor:default}
.curP{cursor:pointer}

/* Изменение цвета при наведении */
.over0:hover{background-color:#fff}/* белый */
.over1:hover{background-color:#F2F6F9}/* бледно-серо-синий */
.over2:hover{background-color:#FFFFF0}/* бледно-жёлтый */
.over3:hover,.over3:hover textarea{background-color:#ffc} /* жёлтый */
.over4:hover{background-color:#F9F9F9}/* светло-серый */

/* Линии */
.line-b{border-bottom:#DEE3EF solid 1px}
.line-b1{border-bottom:#EFF2F5 solid 1px}/* светлая нижняя линия */
.line-t1{border-top:#EFF2F5 solid 1px}   /* светлая верхняя линия */
.line-r{border-right:#DEE3EF solid 1px}

/* Подсветка найденной подстроки */
.fndd{background:#ffc;border-bottom:1px solid #FE2}


