/* ---=== ВЫПАДАЮЩИЙ СПИСОК ===--- */
._select{
	position:relative;
	box-sizing:border-box;
	background-color:#fff;
	border:#d3d9de solid 1px;
	border-radius:2px;
	vertical-align:top;
}
._select.disabled{background-color:#f5f5f5;border:1px solid #ddd}
._select.blocked{background-color:#fafafa;border:1px solid #eee}
._select .select-inp{border:none;padding:6px 0 6px 8px}
._select .select-inp[readonly]{cursor:pointer}
._select .select-inp::-webkit-input-placeholder{color:#999}
._select .select-inp::-moz-placeholder{color:#444}
._select .select-inp._busy{background-position:right center}
._select.disabled .select-inp{cursor:default;background-color:#f5f5f5;color:#ccc}
._select.blocked  .select-inp{cursor:default;background-color:#fafafa}
._select .icon.spin{display:inline-block}
._select .arrow{
	width:25px;
	background:transparent no-repeat center center url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAAZUlEQVQY02P4//8/IwMRAKxu49YdNzZu2TkNlyaQ+IatO2cA1V0FKt5Zv2HLjv9ADbPQNYD4QPG5IPkNW3ZWgwWBGprRNSArBMo3oFiHpoEZp0IsGm7hVYikoQGIv2zctqsWXQ4AGPZvtpjg4t8AAAAASUVORK5CYII=");
	cursor:pointer;
}
._select.disabled .arrow{cursor:default}
._select.blocked  .arrow{cursor:default;opacity:.3}
._select:not(.rs) .select-res{display:none}
._select .select-res{
	position:absolute;
	left:-1px;
	width:100%;
	border:#d3d9de solid 1px;
	border-radius:0 0 2px 2px;
	box-shadow:0 1px 3px rgba(0,0,0,.1);
	background-color:#fff;
	cursor:pointer;
	z-index:101;
}
._select .select-res.h250{height:250px;overflow-y:scroll}
._select .select-unit{
	padding:6px 8px;
	text-align:left;
	overflow-x:hidden;
}
._select .select-unit.title0{color:#999}
._select .select-unit.ov{background-color:#EBF3FA}
._select .select-unit .fndd{
	background-color:#EBF3FA;
	border-bottom:none;
	font-weight:bold;
}
._select .select-unit.info{
	padding:4px 8px;
	background-color:#f7f7f7;
	border-top:#f1f1f1 solid 1px;
	border-bottom:#f1f1f1 solid 1px;
	color:#555;
	font-weight:bold;
	cursor:default;
}
._select .select-unit.busy{
	background-color:#FFF2EE;
	cursor:default;
}
._select .empty{
	background-color:#eee;
	padding:6px 8px;
	cursor:default;
}
._select .multi{
	display:inline-block;
	position:relative;
	margin:3px 0 0 3px;
	background-color:#D9E1E7;
	color:#54667C;
	border-radius:2px;
	padding:3px 22px 3px 5px;
	cursor:move;
	vertical-align:top;
}
._select .multi .icon{
	position:absolute;
	top:1px;
	right:2px;
}

/*
._select .seltab{
	border:#d3d9de solid 1px;
	border-radius:2px;
	height:29px;
	width:100%;
}
._select.disabled .seltab{border-color:#ccc;background-color:#f0f0f0}
._select .selinp{border:none;width:100%}
._select .selinp._busy{background-position:right center;color:#000}
._select.disabled .selinp{color:#777}
._select .selug{
	width:16px;
	border-left:#fff solid 1px;
	background:transparent no-repeat center center url("data:image/gif;base64,R0lGODlhBwAEAIABAAAAAP///yH5BAEAAAEALAAAAAAHAAQAAAIIhA+BGWoNWSgAOw==");
}
._select.disabled .selug{
	border-left:#f0f0f0 solid 1px;
	background:transparent no-repeat center center url("data:image/gif;base64,R0lGODlhBwAEAJEAAAAAAP///3d3d////yH5BAEAAAMALAAAAAAHAAQAAAIIlC+DOWoN2SgAOw==");
}
._select .seladd{
	width:17px;
	border-left:#FFF solid 1px;
	background:transparent no-repeat center center url("data:image/gif;base64,R0lGODlhCAAIAKIAAAAAAP///ytYeuHo7ff398zMzIiIiP///yH5BAEAAAcALAAAAAAIAAgAAAMOeGqmfuytNpm92EW5X08AOw==");
	cursor:pointer;
}
._select.disabled .seladd{border-left:#f0f0f0 solid 1px;cursor:default}
._select:not(.disabled):hover .selug,
._select.rs .selug,
._select:not(.disabled) .seladd:hover
{border-left:#d2dbe0 solid 1px;background-color:#e1e8ed}
._select:not(.rs) .selres{display:none}
._select .selres{
	background-color:#fff;
	opacity:.95;
	cursor:pointer;
	position:absolute;
	z-index:10;
	overflow:auto;
}
._select .selres.h250{height:250px;border-bottom:#CCC solid 1px}
._select .selres.h250 .last{border-bottom:0}
._select .title0{color:#888}
._select .selun{
	padding:3px 5px 4px 10px;
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px
}
._select .selun.ov{
	padding:2px 5px 3px 10px;
	border:#2a5883 solid 1px;
	background-color:#587da1;
	color:#FFF;
}
._select .selun.title0.ov{color:#ddd}
._select .selun span{display:block;margin-top:1px;font-size:12px;color:#888}
._select .selun.ov span,
._select .selun.ov .grey{color:#bbe}
._select .selun.ov .color-pay{color:#A3E5A3}
._select .selun em{background-color:#dee}
._select .selun span em{font-size:12px}
._select .selun.ov em{background-color:#358}
._select .last{border-bottom:#CCC solid 1px}
._select .last.ov{padding-bottom:4px;border:#2a5883 solid 1px;}
._select .multi{
	display:inline-block;
	background-color:#DAE2E8;
	margin:2px 0 0 2px;
	padding:1px 2px 2px 3px ;
}
._select .multi:hover{background-color:#587DA1;color:#fff}
._select .x{
	display:inline-block;
	width:11px;
	height:11px;
	background:transparent no-repeat 2px 4px url("data:image/gif;base64,R0lGODlhBwAHAKIAAAAAAP///6azz9ri6P///wAAAAAAAAAAACH5BAEAAAQALAAAAAAHAAcAAAMOSEK88gq+yeJq00lZVwIAOw==");
	cursor:pointer;
	margin-left:3px;
}
._select .nofind{
	background-color:#EEE;
	border-left:#CCC solid 1px;
	border-right:#CCC solid 1px;
	border-bottom:#CCC solid 1px;
	padding:4px 6px;
	cursor:default;
}
*/
/* было 90 строк */

