/* Задний фон при открытии поверхностных окон */
._backfon{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	opacity:.8;
}


/* Диалоговое окно */
._dialog{
	position:absolute;
	left:-1000px;
	box-shadow:0 0 20px rgba(0,0,0,.5);
}
._dialog .head{background-color:#678EB4;border-radius:2px 2px 0 0}
._dialog .head.edit{background-color:#CC8E4F}
._dialog .head div{padding:13px 9px 13px 13px}
._dialog .head div.inp{padding:8px 0 8px 8px}
._dialog .head input{
	border:0;
	padding:5px 8px;
	font-size:15px;
}
._dialog .head div:not(:hover) .icon{opacity:.7}
._dialog .dFrame{
	border:0;
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}
._dialog .content{border-bottom:#EBEDF0 solid 1px}
._dialog .ms{padding:80px 0}
._dialog .load._busy .ms{visibility:hidden}
._dialog .bottom {
	background:#F8F9FA;
	padding:10px;
	text-align:center;
	border-radius:0 0 2px 2px;
}
