/* ---=== СПИСОК В ТАБЛИЦЕ ===--- */
._stab{
	border-collapse:collapse;
	background:#fff;
}
._stab th{
	background:#E3E9EE;
	border:#D3DBE1 solid 1px;
	color:#51677A;/* rgb(81,103,122) */
	padding:8px;
	font-size:14px;
	box-sizing:border-box;
}
._stab.small th{padding:3px;font-size:13px}
._stab > tbody > tr > td{
	padding:8px;
	border:#EFF2F5 solid 1px;
	box-sizing:border-box;
}
._stab td.topi{vertical-align:top;padding-top:9px}
._stab.small td{padding:4px 5px 3px;font-size:12px}
._stab td.pad0{padding:0}/* для иконок */
/* история действий */
._stab.hist{margin:3px 0 10px}
._stab.hist td{
	border:#DDD solid 1px;
	padding:3px 5px 2px;
	font-size:12px;
}







/* Заголовок 1 - на сером фоне */
.hd1{
	font-size:14px;
	color:#333;
	background:#FAFBFC;
	border-bottom:#E7E8EC solid 1px;
	padding:14px 17px;
}
.hd1 a,.hd1 b,.hd1 u{font-size:14px}
.hd1 a.link{color:#777}


/* Заголовок 2 - подчёркнутая линия */
.hd2{
	color:#31618C;
	font-size:16px;
	border-bottom:#DEE3EF solid 1px;
}
/*
.hd2 .vk.small.fr{margin-top:-4px}
.hd2 b{font-size:16px}
*/




/* Текст с информацией на жёлтом форе */
._info{
	color:#000;
	background:#ffffe6;
	border:#eea 1px solid;
	border-radius:5px;
	padding:8px 12px;
	text-align:justify;
	line-height:1.3;
}
._info p{
	margin:3px 0 7px;
	line-height:1.3;
}







/* Список в режиме ожидания */
.spisok-busy{opacity:.3}



/* Меню групп элементов */
.el-group-head{
	position:relative;
	width:100%;
	height:60px;
	border-spacing:5px;
	border-bottom:transparent solid 1px;
	cursor:pointer;
	z-index:2;
}
.el-group-head:not(.sel):hover{background-color:#F2F6F9;border-right:#CEDDE8 solid 1px}
.el-group-head:not(.first){border-top:transparent solid 1px}
.el-group-head:not(.sel) *{opacity:.85}
.el-group-head.sel{background-color:#EBF0F3;border-bottom:#C6D7E4 solid 1px}
.el-group-head.sel:not(.first){border-top:#C6D7E4 solid 1px}
#elem-group #head-back{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	border-right:#CEDDE8 solid 1px;
	z-index:1;
}
#elem-group .elem-unit{
	padding:10px 10px 10px 0;
	border:transparent solid 1px;
	cursor:pointer;
}
#elem-group .elem-unit .num{font:14px Verdana}
#elem-group .elem-unit .b{font:bold 14px Verdana}
#elem-group .elem-unit:hover{background-color:#feb;border:#EFD68D solid 1px}
#elem-group .elem-unit._busy{opacity:.4}
#elem-group .elem-unit:not(.red):hover{color:#333}
#elem-group .elem-unit:not(:hover) .icon:not(.spin){display:none}
#elem-group-content{background-color:#EBF0F3}
#elem-group-content .cnt-div{
	height:450px;
	overflow-y:auto;
	padding:10px;
}










/* Кнопка включения выбора блоков */
.block-choose-on.grey b{display:none}








/* ---=== ДИАЛОГОВОЕ ОКНО ===--- */
._dialog-back{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	opacity:.8;
}
._dialog{
	position:absolute;
	left:-1000px;
	box-shadow:0 0 20px rgba(0,0,0,.5);
}
._dialog .head{
	background-color:#678EB4;
	border-radius:2px 2px 0 0;
	height:40px;
}
._dialog .head.orange{background-color:#CC8E4F}
._dialog .head.red{background-color:#B66}
._dialog .head div{padding:12px 9px 8px 13px}
._dialog .head .close:hover .icon{opacity:1}
._dialog .head .edit:hover .icon{opacity:1}
._dialog .btm {
	background:#F8F9FA;
	border-top:#EBEDF0 solid 1px;
	padding:10px;
	text-align:center;
	border-radius:0 0 2px 2px;
}

/* линия для настройки ширины диалога */
#dialog-w-change{
	position:absolute;
	cursor:e-resize;
	background-color:#FFD9B2;
	width:7px;
	opacity:.5;
}
#dialog-w-change:hover{opacity:1}




/* Загрузка картинки для элемента */
.el-img{
	display:inline-block;
	max-width:312px;
}
.el-img._busy form{visibility:hidden}
.el-img.loaded form,
.el-img:not(.loaded) .eimg{display:none}
.el-img .eimg{
	position:relative;
	padding:5px;
	background-color:#EBF0F3;
	border:#CEDDE8 solid 1px;
}








































































/* Фильтр-календарь */
._filter-calendar{
	position:relative;
	width:200px;
	display:inline-block;
	vertical-align:top;
}
._filter-calendar .monn{/* название месяца */
	text-decoration:underline;
	color:#07c;
	cursor:pointer;
	display:inline-block;
	padding:4px 8px;
}
._filter-calendar .monn:not(.sel):hover{
	background-color:#ECEFF4;
}
._filter-calendar .week-name td{
	text-align:center;
	padding:4px 0;
	background-color:#E1E6EB;
	border-bottom:#C8D2DC solid 1px;
	color:#8895A2;
}
._filter-calendar td.week-num{
	width:22px;
	font-size:11px;
	text-align:center;
	background-color:#E7ECF1;
	border-right:#CED7DF solid 1px;
	color:#58a;
	cursor:pointer;
}
._filter-calendar td.d{
	padding:5px 0;
	text-align:center;
	cursor:default;
}
._filter-calendar td.on{
	text-decoration:underline;
	color:#07c;
	cursor:pointer;
}
._filter-calendar tr:not(.sel) td.on:not(.sel):hover{background-color:#ECEFF4}
._filter-calendar td.week-num:hover{background-color:#D0DEEB}
._filter-calendar tr.sel td.week-num{background-color:#CADEF2;border-right:#DFEFFF solid 1px;}
._filter-calendar .sel{background-color:#CADEF2}
._filter-calendar .td-mon{text-align:center}
._filter-calendar .laquo{
	width:25px;
	font-size:15px;
	color:#555;
	padding:3px 0;
	text-align:center;
	cursor:pointer;
}
._filter-calendar .laquo:hover{background-color:#ECEFF4;color:#000}
._filter-calendar ._busy{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:23px;
}
._filter-calendar:not(.busy) ._busy{display:none}
._filter-calendar.busy .td-mon{visibility:hidden}





















/* Загрузка изображений */
.icon-image{
	background:transparent 22px 22px no-repeat url(../../img/icon-image.png?1);
}
.icon-image.ii1{background-position:-91px 9px}
.icon-image.ii2{background-position:-141px 12px}
.icon-image.ii3{background-position:-189px 7px}
.icon-image.ii4{background-position:-239px 8px}
.icon-image.ii4.empty{background-position:-239px -42px;cursor:default}
.icon-image.spin{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:98px;
	background-position:-317px 32px;
	opacity:1;
    animation: spin 700ms infinite linear;
    -webkit-animation: spin 700ms infinite linear;
    -moz-animation: spin 700ms infinite linear;
	z-index:21;
}
td.icon-image:not(:hover):not(.empty){opacity:.5}

._image dd{position:relative;display:inline-block}
._image .icon-off,
._image .icon-recover{
	position:absolute;
	right:1px;
	top:1px;
	background-color:#f5f5ff;
	box-shadow:-1px 1px 6px rgba(0,0,100,.2);
	border-radius:2px;
}
._image dd:not(:hover) .icon-off{display:none}
._image div.prel:not(:hover) .icon-recover:not(.spin){display:none}
._image .icon-recover.spin{
	background-color:transparent;
	box-shadow:0 0 0;
}
._image .ui-sortable-helper .icon-off{display:none}
._image .ui-sortable-helper{box-shadow:7px 7px 12px rgba(0,0,0,.2)}
._image-unit{
	border:#E2E9F2 solid 1px;
	background-color:#fff;
	text-align:center;
	width:100px;
	height:100px;
	padding:5px;
}
._image .ui-hold{
	border:#49C1FF dashed 1px;
	background-color:#E4F6FF;
	display:inline-block;
	height:98px;
	width:98px;
	margin-right:3px;
}
._image-load{
	border:#D4DEEC solid 1px;
	background-color:#F5FAFF;
	text-align:center;
	width:100px;
	height:100px;
	position:relative;
}
._image .tab-load{
	width:100%;
	height:100%;
	border-spacing:3px;
}
._image .tab-load td{
	width:50%;
	height:44px;
	cursor:pointer;
}
._image form{
	width:44px;
	background:#ffa;
	overflow:hidden;
	opacity:0;
}
._image form input{
	height:44px;
	font-size:8px;
	cursor:pointer;
}
._image-add{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:98px;
	background-color:#E2ECF6;
	opacity:.92;
	z-index:20;
	transition:width 130ms ease-in-out;
	-o-transition:width 130ms ease-in-out;
	-moz-transition:width 130ms ease-in-out;
	-webkit-transition:width 130ms ease-in-out;
}
._image-load:not(.busy):not(.dis):hover ._image-add{width:0}
._image-load:not(.busy):not(.dis):hover{border-color:#B6CADE}
._image-load:not(.busy) .spin{display:none}
._image-load.progress .spin{display:none}
._image-load.busy ._image-add{opacity:1;background-position:999px 999px}
._image-prc{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size:22px;
	color:#9dacbe;
	padding-top:35px;
	z-index:22;
}
._image-load:not(.progress) ._image-prc{display:none}
/* блокировка добавления изображений */
._image-load.dis{border-color:#eee}
._image-dis{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:23;
	background-color:#fafafa;
	opacity:.95;
}
._image-load:not(.dis) ._image-dis{display:none}
._image-link{max-width:415px}


/* Просмотр изображений */
#_image-main{
	height:400px;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
}
#_image-show .iu{
	border:#E2E9F2 solid 1px;
	background-color:#fff;
	text-align:center;
	width:90px;
	height:90px;
	cursor:pointer;
}
#_image-show .iu:hover{border-color:#B6CADE}
#_image-show .iu.sel{border:#8893a4 solid 3px}

.image-open{cursor:pointer}
._busy .image-open{opacity:.1}








/* настройка цвета элемента */
._color{
	display:inline-block;
	position:relative;
	width:22px;
	height:22px;
	vertical-align:top;
	border:#e8e8e8 solid 1px;

}
._color .pabs{
	top:-58px;
	left:-88px;
	border-spacing:1px;
	box-shadow: 0 -3px 12px rgba(0,0,0,0.7);
	z-index:100;
}
._color:not(:hover) .pabs{display:none}





/* цвет фона */
._color-bg,
._color-bg-choose div{
	display:inline-block;
	vertical-align:top;
	border:#eee solid 1px;
	width:40px;
	height:40px;
	border-radius:20px;
	cursor:pointer;
}
._color-bg-choose{
	width:235px;
	text-align:center;
}
._color-bg-choose div{
	margin:2px;
	font-size:30px;
	color:#aaa;
}
._color-bg-choose div:not(.sel){color:transparent}
._color-bg-choose div:hover{border-color:#ccc}






/* история действий */
.history-day{
	margin-left:35px;
	font:bold 14px Verdana;
	color:#333;
}
.history-o{
	display:inline-block;
	width:12px;
	height:12px;
	border-radius:6px;
	margin:0 3px -1px 10px;
	background-color:#99f299;
}
.history-o.o2{background-color:#ee0}
.history-o.o3{background-color:#f98888}
.history-un{margin-top:7px}
.history-un .tdo{width:65px}
.history-un:not(:hover) .icon{visibility:hidden}
/* история действий - старая версия при переносе */
.history-old{margin:3px 0 7px}
.history-old table{border-collapse:collapse;background:#fff}
.history-old th,
.history-old td{
	border:#DDD solid 1px;
	padding:3px 5px 2px;
	font-size:12px;
	color:#888;
}
.history-old th{font-weight:bold}





/* выбор блоков из диалога или страницы */
._sebl .icon-cube{left:5px;top:5px;opacity:.7}
._sebl .icon-del{right:5px;top:5px}
._sebl input{padding-left:30px;background-color:transparent}





/* выбор элемента из диалога или страницы */
._selem .icon-star{left:5px;top:6px;opacity:.7}
._selem .icon-del,
._selem .icon-del-red{right:5px;top:5px}
._selem input{padding-left:27px;background-color:transparent}





/* Фильтр-меню [78] */
.fm-plus{
	width:25px;
	font-size:18px;
	color:#ccc;
	padding-top:2px;
	text-align:center;
	cursor:pointer;
}
.fm-plus:hover{background-color:#E8ECF0;color:#999}
.fm-unit{padding:4px 7px;cursor:pointer}
.fm-unit:not(.sel):hover{background-color:#E8ECF0}
.fm-unit.sel{background-color:#CEDCEA}






.ava30{width:30px;height:30px;border-radius:15px}
.ava35{width:35px;height:35px;border-radius:18px}
.ava40{width:40px;height:40px;border-radius:20px}
.ava50{width:50px;height:50px;border-radius:25px}



/* Заметки */
._note-txt{
	border:#D2D8DD solid 1px;
	border-radius:5px;
	background-color:#fff;
}
._note-txt textarea{
	position:relative;
	font-size:14px;
	height:28px;
	border:0;
	background-color:#fff;
	width:100%;
	margin:2px 0;
}
._note .note-ok{
	position:absolute;
	right:0;
	bottom:1px;
	width:32px;
	height:32px;
	background:no-repeat 0 0 url(../../img/icons8-ok-32.png?1);
	cursor:pointer;
}
._note .icon-ok{
	position:absolute;
	right:7px;
	bottom:12px;
}
._note:not(.busy) .icon-ok{display:none}
._note.busy .note-ok{display:none}
._note-comment{margin:0 0 15px 60px}
._comment-u{border-top:#E8ECF0 solid 1px;padding:5px 0}
._note table:not(:hover) .icon-edit:not(.spin){display:none}
._note table:not(:hover) .icon-del:not(.spin){display:none}
._note-to-cmnt{
	padding:4px 8px;
	cursor:pointer;
	color:#356B95;
	border-radius:3px;
	margin:0 0 10px;
}
._note .icon-comment{float:left;margin:-1px 6px 0 0}
._note-to-cmnt:not(:hover) .icon{opacity:.6}

._note-is-del{margin:10px;color:#777}
._note-u.deleted ._note-is-show,
._note-u:not(.deleted) ._note-is-del{display:none}

._comment-is-del{margin:10px;color:#777}
._comment-u.deleted ._comment-is-show,
._comment-u:not(.deleted) ._comment-is-del{display:none}

._comment-txt{
	border:#D2D8DD solid 1px;
	border-radius:4px;
	background-color:#fff;
}
._comment-txt textarea{
	position:relative;
	height:27px;
	border:0;
	background-color:#fff;
	width:100%;
	margin:1px 0;
}
.comment-ok{
	width:30px;
	height:31px;
	background:no-repeat 0 0 url(../../img/icons8-ok-32.png?1);
	cursor:pointer;
}
._note-comment:not(.busy) .icon-empty,
._note-comment.busy .comment-ok{display:none}











/* Квадратики элемента [96] */
.el96-u{
	display:inline-block;
	padding:4px 8px;
	border:#eee solid 1px;
	border-radius:3px;
	font-weight:bold;
	cursor:default;
}





/* [23] скрытие подсказки при перетаскивании */
.ui-sortable-helper .ttdiv{display:none}






/* [75] */
.pname75 span{display:none}









/* [97] Независимая кнопка */
.but97{
	position:fixed;
	width:60px;
	height:60px;
	background-color:#ccc;
	border-radius:100px;
	z-index:10;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.but97:hover{background-color:#d0d0d0}
.b97-ver{
	width:8px;
	height:11px;
	margin-left:26px;
	background-color:#eee;
	border-radius:2px 2px 0 0;
}
.b97-ver.bottom{border-radius:0 0 2px 2px}
.b97-gor{
	width:30px;
	height:8px;
	margin-left:15px;
	background-color:#eee;
	border-radius:2px;
}
.but97:hover .b97-ver,
.but97:hover .b97-gor{background-color:#fff}
.but97:active:not(.curM) .b97-ver:not(.bottom){margin-top:16px}









/* Форматированные текст ckeditor5 (через [5]) */
.ck-content,
.ck-content *{font-size:inherit}
.ck-content i strong{font-style:italic}
.ck-content strong{font-weight:bold}
.ck-content h1{
	font-size:20px;
	margin:10px 0;
	padding-bottom:8px;
	border-bottom:#DEE3EF solid 1px;
}
.ck-content h2{font-size:18px;margin:8px 0}
.ck-content h3{font-size:16px;margin:8px 0}
.ck-content blockquote{
    border-left:#ccc solid 5px;
    background-color:#f4f4f4;
    margin:15px 0;
    padding:1px 5px 1px 15px;
}
.ck-content ul,
.ck-content ol{margin:10px 0 10px 40px}
.ck-content ol{list-style-type:decimal}
.ck-content li{padding:3px 0}

/* Окошко для создания ссылки */
.ck.ck-balloon-panel{z-index:1200}








.el95col{
	background-color:#efe;
	border:solid 1px #ded;
	color:#080;
	font-size:11px;
	text-align:center;
	width:40px;
	padding:5px 2px;
	cursor:pointer;
}
.el95col:not(.on){
	background-color:#f8f8f8;
	border:solid 1px #eee;
	color:#888;
}







